.app {
  background-color: var(--theme-bg-color);

  max-width: 1250px;
  max-height: 860px;
  height: 90vh;
  width: 1350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}



