
.pop-up.edit{
    padding-bottom: 30px;
}


.edit-pop-up{
    display: flex;
    color: var(--theme-color);
    font-size: 0.8rem;
    justify-content: space-between;
    padding-bottom: 10px;
    
}
.edit-type{
    padding: 5px;
}
.edit-type input{
    margin-right: 8px;
}

.new-button.edit{
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 0;
    font-weight: 700;
    width: 100%;
   
    font-size: 0.9rem;
    padding: 8px 26px;
   
}

