.pop-up {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  padding: 20px 40px;
  overflow-y: auto;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  background-color: var(--popup-bg);
  border-radius: 6px;
  z-index: 10;
  
}

.pop-up__header {
  display: flex;
  justify-content: center;
  position: relative;
}
.pop-up__title {
  padding-bottom: 20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-color);
}

.pop-up-close {
  font-size: 20px;
  background-color: transparent;
  color: var(--theme-color);
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -8px;
}

.pop-up__textarea-wrapper {
  padding-bottom: 20px;
}
.pop-up__textarea {
  background-color: transparent;
  color: var(--theme-color);
  font-family: var(--body-font);
  font-size: 0.9rem;
  padding: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid #fff;
  border-radius: 3px;
}

//buttons

.content-button-wrapper {
  margin-top: auto;
  margin-left: auto;
  width: auto;
}

.new-button {
  background: none;
  padding: 8px 26px;
  color: #fff;
  margin-top: 16px;
  margin-left: 10px;
  cursor: pointer;
  *transition: 0.3s;
  white-space: nowrap;
  border: 1px solid var(--border-color-r);
  font-size: 15px;
  margin-top: 0;
  padding: 6px 24px;
}

.new-button:hover {
  border-image: linear-gradient(
      to left top,
      #cf4af3,
      #e73bd7,
      #f631bc,
      #fd31a2,
      #ff3a8b,
      #ff4b78,
      #ff5e68,
      #ff705c,
      #ff8c51,
      #ffaa49,
      #ffc848,
      #ffe652
    )
    1;
  background: rgba(2, 2, 2, 0.1);
}
.new-button:disabled {
  cursor: not-allowed;
}

.pop-up-microphone {
  border: 1px solid var(--theme-color);
  border-radius: 50%;
  background-color: transparent;
  color: var(--theme-color);
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  bottom: 20px;
}

.pop-up-microphone.on {
 *border: 1px solid red;
  color: var(--border-color-r);
  animation: Listen 2s ease infinite;
}


@keyframes Listen {
  0% {
    border: 1px solid #fff;
  }
  50% {
    border: 1px solid var(--border-color-r);
  }
  100% {
    border: 1px solid #fff;
  }
}
.pop-up-microphone.no-display{
  display: none;
}

.pop-up-microphone:hover {
  border: 2px solid var(--theme-color);
}
.pop-up-microphone.on:hover {
  border: 2px solid red;
}

@media screen and (max-width: 430px) {
  .pop-up{
    min-width: 335px;
    padding: 20px;
  }
  
}

@media screen and (max-width: 390px) {
  .content-button {
    padding: 6px 14px;
  }
}

/* ////////////////////overlay//////////////////// */

.content-wrapper.overlay {
  pointer-events: none;
  background-color: var(--overlay-bg);

}

.overlay-app {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: all;
  background-color: rgba(36, 39, 59, 0.8);
  z-index: 2;
}
